@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  @font-face {
    font-family: "Apercu";
    src: url("./fonts/apercu-light.woff2") format("woff2");
  }
} */
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #010409;
  }
} */

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: Apercu, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.heading-1 {
  @apply text-4xl font-medium;
}

.heading-2 {
  @apply text-2xl;
}

.heading-3 {
  @apply text-xl font-medium;
}

.center {
  @apply items-center justify-center;
}

.center-x {
  @apply items-center;
}

.center-y {
  @apply justify-center;
}

.btn-primary {
  @apply px-4 py-2 bg-purple-500 rounded-xl;
  /* @apply px-4 py-2 bg-purple2 rounded-xl; */
}

.btn-secondary {
  @apply px-4 py-2 border border-black dark:border-white rounded-xl;
}
